@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Raleway');
*{
	margin: 0;
	padding: 0;
	list-style-type: none;
font-family: 'Libre Baskerville', serif;
}

a{
	text-decoration: none;
}
.container{
width:auto;

}











.nav {flex-direction: row;
display: flex;
width: 100%;
height: 50px;
justify-content: center;

text-align: center;
position: fixed;
background-color: #282222;
line-height: 15px;
z-index: 100;
text-align: center;






}
.nav li, s{
	display: inline-block;
	margin-left: 4%;
	padding-bottom: 15px;
	margin: 5px;
}
.nav a{
	color:#FFFFFF;
	width: 100px;
text-align: center;

}
.nav ul{ width: 450px; margin: 2%;
margin-top:17px;  }
.in1 { margin-left: -3%; }
.innnn {
	display: block;


}
.ssssss{ display: flex;
margin-top: 10px;}

.word_1{
	color: #BC0303;
	font-size: 0.8em;
	font-weight: bold;
	padding-right: 4%;
}
.word_2{
	color: #FFFFFF;
	font-size: 1.3em;
	padding-left:;
	font-weight: bold;
}
.word_2, .word_1 {

margin-right: 25px;
}


.img1{
 	height: 20px;
 	float: left;
 }
.nav svg{
width: 25px;
height: 25px;
 }

 .img1{
 	height: 100%;
 	margin-left: -4vw;
 }
 .svf1{
 	width: 25px;
height: 25px;
 }
 .nmber{  font-size: 1.3em;
 	color:#FFFFFF;}
 .nav li a:hover{
	color:#BC0303;

	border-bottom: 2px solid #C12A2A;
	padding-bottom: 3px;
}



.s svg{padding: 2px;
	}
.s svg:hover{

	transform: scale(0.8);
}
 #pull {

 display: none;

   }
#pull svg{
	width: 10px;
	height: 20px;
}

/* Стили для видеофона */

#video-bg {
	position: relative ;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	background-size: cover;

	width:100%;
     height:600px;


}

#video-bg > video {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%%;


}

.title_h1 {
	position: absolute;
	top:-3;
	z-index: 99;

	width: 100%;
	text-align: center;
	padding-top: 10%;

}
.title_h1 h1{
	color: #FFFFFF;
	font-size: 3em;
	font-weight: bold;
}
.title_h1 h2{
	color: #FFFFFF;
	font-size: 2em;
	font-weight: bold;
}
.title_h1 li{
	z-index: 100;
	display: inline-block;
	padding-top: 4%

}
.li_1 {padding-left: 0%;}
.li_2{
	padding-left:  20%;
}
.li_1 a{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background: #D54D4D;
  border-radius: 15px;
  width: 200px;
  color:#FFFFFF;
}
.li_2 a{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background:rgba(100%, 97%, 100%, 0.4);
  border:2px solid #FFFFFF;
  border-radius: 15px;
  width: 200px;
  color:#FFFFFF;
}
.li_1 a:hover{
	background: #32A13F;
	transition: 0.2s;
}
.li_2 a:hover{
	background: #D5CE11;
	transition: 0.2s;
}


.block_1{
	  width: 100%; height:auto; ;background: #FFFFFF;
}
@media (min-width: 500px) {
	.block_1 {
		font-size: 0.8em;
	}
}

.title_service{
	text-align: center;
	font-size: 1.9em;


 }
 .title_service svg{ width: 23px;
 	height: 23px;
 	border-radius: 4px;
}
.title_service span{
	border-bottom: 2px solid #BB2B2B;
	padding-top: 20px;
}

.list_service{

	height: auto;
	width: 960px;
   margin: 0 auto;
}

.list_service {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: stretch;
}

ul .list_service{

}





@media (max-width: 600px;){
.list_service ul{
	display: block;
	height: 100%;

}
}
.list_service li{
	margin-top: 30px;
	margin-left: 9%;
}
.list_service a {
	text-align: center;
	color:#474141;

}




.list_service img {
	width: 203px;
	height: 203px;
	border-radius:50%;
	border: #474141 solid 1.5px;
	object-fit: cover;
	margin-left: 10%;
	margin-right: 10%;

}
.list_service img:hover {
	border: #996262 solid 1.5px;



}
.list_service li:hover{
	margin-top: 23px;
	transition: 0.3s;
}
.list_service a:hover{
	color:#C55555;
	transition: 0.3s;

}
.sect{

    background-image: url(img/дляслайдера.jpg);
	background-size: cover;


}

.home svg{

border-radius: 5px;
	height: 24px;
	width: 24px;
}


.home {
flex: 1 1 500px;
margin-top: 20px;

}
.item img{
flex: 1 1 50px;
height: 300px;
width: auto;
}

.home h2{
	text-align: center;
	font-size: 2.1em;
	padding-top: 4vw;
	color:#FFFFFF;}
.home img{
text-align: center;
padding: 5rem 0;
margin: 0;

font-weight: 300;
}
.home-slider {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
overflow: auto;
min-height: 580px;


}
.home-slider img{
	min-height: 450px;
}

.service_button{
	text-align: center;
background: rgba(100%, 97%, 100%, 0.5);
	border:1.5px solid #FFFFFF;
	    width: 200px;

	margin: 0 auto;
	border-radius: 20px;
}
.service_button a{
	line-height: 4vw;
	color:#FFFFFF;
	padding: 5px;
}
.workers{
	width: 100%;


}
.title_workers ,.title_workers svg {
	text-align: center;
	font-size: 1.9em;
	color:#464040;
}
.title_workers svg{
	border-radius: 5px;
	width: 20px;
	height: 20px;
}
.title_workers span{
	border-bottom:1.5px solid #B41A1A;
}
.workers_class{
	width: 940px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: 0 auto;

}






.workers_element li svg{
	width: 25px;
	height: 25px;

}
.workers_element {

	margin-top:5vw;
	margin-bottom:5vw;





}
.workers_element li img{
	border-radius: 50%;



}

.workers_element li{
	font-size: 1.1em;

	text-align: center;
}
.workers_element li a{

	color:#453F3F;
	border-bottom: 1px solid #6A6161;
	padding-top: 0.7vw;
}
.our_client{
	background-image: url(img/gray.jpg);
	width: auto;


}
.our_client h2{
	text-align: center;
	line-height: 5vw;
	font-size: 2em;
}
.our_client h2 span{
	border-bottom: 1.5px solid #C13636;
}
.our_client h2 svg{
	width: 23px;
	height: 23px;
	border-radius: 5px;
}

.our_client ul{
	margin: 0 auto;
	width: 960px;
	padding-top: 100px;
	padding-bottom: 100px;

}
.our_client ul{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;


}

.our_client li img{

	width: 110px;
	height: auto;
}
.our_advantage{
	width: 100%;
	height: 30vw;
}
.our_advantage svg{
	width: 23px;
	height: 23px;
	border-radius: 5px;
}
.our_advantage h2{
	text-align: center;
	margin-top: 20px;
	font-size: 2em;
}
.our_advantage li{text-align: center;
width: 27%;margin: 15px;
}

.our_advantage ul{
	display: flex;
   flex-wrap: wrap;
   justify-content: center;
    width: 1000px;
    margin: 0 auto;

}
.header_element{
	background-image: url(img/vostochnom-stile-kartinka.jpg);

	background-size: cover;
	width: 100%;


}
.information{
	text-align: center;


}
.information h2{
	color: #FFFFFF;
	margin: 20px;
	font-size: 2.5em;


}
.information h3{
	color: #FFFFFF;
	margin: 10px;


}
.inpas{ display: block;
	margin-left: auto;
	margin-right: auto;
    width:18%;

}
.inp input{


}
.input_element{
	height: 8vw;
	 background: rgb(2%, 0%, 0%, 0.5);
	 color:#FFFFFF;
	 margin-top: 10px;

}
.input_element_1{
	border: 1px solid #D15A5A;
	background: rgb(2%, 0%, 0%, 0.5);
	color:#FFFFFF;
}
.mail_element{

}












.service_button:hover{
	 background: #CA3838;
	 border:1.5px solid #928C8C;
	 transition: 0.2s;
}














@media (min-width: 601px) {
  .home-demo .item {
    margin: 5px;
  }
}








/* Проверка на поддержку свойства object-fit: */

 @supports (object-fit: cover) {
     #video-bg > video {
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
     }
 }
@media ( max-width: 500px ){
	.ul_element  {
		display: none;
		background: #454444;
		width: 100px;
		margin-top:30px;
	}
		#pull, #pull img {display: block;width: auto;
			
			cursor:pointer;}
			.ul_element li{
				width: 130px;
				height: auto;
				
				background: #2B2828;
				margin: 0 auto;


			}



			.show{
     display:block;}
.nav{ height: 50px;}
.in1 {width: 100px;height: 20px;}
.nav  {justify-content: space-between;}
.nav a { width: 142px; }
.our_advantage ul{width: 300px;
	display: flex;
flex-direction: row;}
.workers_class{
	width: 300px;
	display: flex;
flex-direction: column;}
.workers_element {margin-top:5vw;
display: block;
margin-top:5vw;
margin-left:0%;}
 .our_advantage ul{

 display: flex;
text-align: center;}
 .our_advantage li{
 display: flex;
 text-align: center;}
 .our_advantage li{text-align: center;
width: 100%;margin: 15px;
display: block;}

.our_advantage h2{font-size: 1.5em;}
.our_client ul{ margin: 0 auto; padding-top: 50px;padding-bottom: 50px; }
.our_client ul{
	    width: 200px;
		display: flex;
		flex-wrap: wrap;
		;
	}
		.our_client li img{
		margin: 20px;}
.our_client h2{
	text-align: center;
	line-height: 5vw;
	font-size: 1.5em;
}
.our_client h2 span{
	border-bottom: 1.5px solid #C13636;
}
.item img{
flex: 1 1 100px;
height: 180px;
width: auto;
}
.inpas{ display: block;
	margin-left: auto;
	margin-right: auto;
    width:70%;
}
.title_h1 h1{
	color: #FFFFFF;
	font-size: 1.8em;
	font-weight: bold;
	position: absolute;
    top:-30px ;
    z-index: 99;
    width: 100%;
    text-align: center;
}

.title_h1 {
	color: #FFFFFF;
	font-size: 0.8em;
	font-weight: bold;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
margin-top: 150px;
}

.list_service {
	width: 350px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.list_service li{
	width: 150px;

}

.nav svg{
	width: 18px;
	height: 18px;
}
.img1 {
	display: none;
}
.s {
	display: none
}

}

@media(max-width: 960px ){
	.list_service{ width: unset;}
}




@media screen and (max-width: 800px) {
	.title_h1 li{
	height: 24px;
	text-align: center;
	display: block;
	float: cente


 }
}
@media ( max-width: 340px ){
	.nav svg{
display: none;
 }
}
@media screen and (max-width:1440px) {
.home-slider img {
min-height: 300px;
}
}



.background_one img{
	background-size: cover;
	width: 100%;
	height: auto;

}
.title_d{
	text-align: center;
	font-size: 2.5em;
	color: #323131;
}


.service_two div{
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
    min-width: 25%;
	margin-left: 5%;

	border: 1.5px solid #F5F3F3;
	border-radius: 10px;

	padding: 15px;
	font-size: 0.65em;
	background: #ECE8E8;
	letter-spacing:2px;


}
.service_two img{
	width: 100px;
	height: 70px;
	background-size: cover;
	position: relative;
	}

.service_two h2 {
	text-align: center;
	position: relative;
	margin: 0 auto;
	color:#454343;



}
.service_two ul{

}
.service_two li{
	display: flex;
	flex-wrap: nowrap;
	margin-bottom: 27px;
	width: 1000px;
	margin: 0 auto;
}
.service_two p{
	margin: 10px;
	margin-right: 10%;
	letter-spacing:0.5px;
	font-family: 'Raleway', sans-serif;
}
.back_button img{
background-size: cover;
margin-left: 10%;
margin-right: 10%;
width: 80%;
position: absolute;
margin-top: 25px;

}

#btn_modal_window{
	position: relative;
	width: 20%;
	margin-left:40%;
	margin-right: 40%;
	margin-top: 15px;
	text-align: 100;
	border: 0.1px solid #B82323;
	background: #B82323;
	border-radius: 10px;
	padding: 5px;
	color:#FFFFFF;
	font-size: 1.3em;
	cursor: pointer;



}

.modal {
  display: none;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color:  rgba(0,0,0,0.75);
}

.modal .modal_content {
  background-color: #fefefe;
  margin: 10% auto;
  
  border: 1px solid #888;
  width: 700px;
  height: 380px;
}

.modal .modal_content .close_modal_window {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.background_modal{
	background: #E7E7E7;
	width: 100%;
	height: 60px;
}
.background_modal{
	color: #DC4040;
	text-align: center;
	font-size: 1.4em;
	padding-top: 15px;
}

.close_modal_window{
	cursor: pointer;
	padding: 15px;
	margin-top: -49px;
}
.block_modal{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 30px;
}
.block_modal div{
	display: flex;
	flex-direction: column;
	
}
.block_modal input{
	margin-top: 10px;
	border: 1.5px solid #777171;
	width: 270px;
	height: 24px;
}
.block_modal button{
	width: 273px;
	height: 27px;
	border: 1.5px solid #DC4040;
	background: #DC4040;
	color: #FFFFFF;
	font-size: 1.2em;
	cursor: pointer;


}

.block_modal img{
	margin-right: 15px;
}
.Modal_Header{
	background: url(2/68672.jpg);
	width: 100%;
	height: 125px;
	background-size: cover;
	

}
.Modal_Header h2{
color: #605D5D;

margin-left: 15px;

}






.section_elements{
	margin: 59px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	    width: 960px;
    margin-left: auto;
    margin-right: auto;

}

.section_elements img{
	width: 456px;
	height: auto;
}
.block_list , .section_elements img{
	margin-left: 24px;
	list-style-type: none;
}
.block_list {
	margin-right: 24px;
}
.block_list ul,p{
	color:#4B4949;
	font-size: 1.1em;
}

.section_elements_one{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin: 59px;
	 width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.section_elements_one img{
	width: 456px;
	height: auto;
}
.block_list_one{
	margin: 15px;
	font-size: 1.15em;
}
.section_elements_two{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;

	 width: 960px;
    margin-left: auto;
    margin-right: auto;

}
.section_elements_two img{
	width: 456px;
	height: auto;
}
.block_list_two{
	margin: 15px;
	font-size: 1.15em;
}

.header_element{
	background-image: url(img/vostochnom-stile-kartinka.jpg);

	background-size: cover;
	width: 100%;


}
.information{
	text-align: center;


}
.information h2{
	color: #FFFFFF;
	margin: 20px;
	font-size: 2.5em;


}
.information h3{
	color: #FFFFFF;
	margin: 10px;


}
.inpas{ display: block;
	margin-left: auto;
	margin-right: auto;
    width:18%;

}
.inp input{


}
.input_element{
	height: 8vw;
	 background: rgb(2%, 0%, 0%, 0.5);
	 color:#FFFFFF;
	 margin-top: 10px;

}
.input_element_1{
	border: 1px solid #D15A5A;
	background: rgb(2%, 0%, 0%, 0.5);
	color:#FFFFFF;
}
@media (max-width: 500px) {
    .modal .modal_content {


        padding: 20px;
        border: 1px solid #888;
        width: 150px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 11;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.75);
    }

    .background_one img {
    	width: 100%;
        
    }


    

    #pull,
    #pull img {
        display: block;
        width: auto;
        margin-left: 10px;
        cursor: pointer;
    }

    

    

    .service_two li {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 27px;
        width: 80% ;
        margin: 0 auto;
    }

    .service_two div {
        width: 80%
    }

    .service_two p {
        width: 80%;
        margin: 0 auto;
        font-size: 0.8em;
    }

    .back_button img {
        display: none;
    }

    #button_ser {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    .section_elements {
        display: block;
        width:80%;

    }

    .section_elements img {
        width: 80%;
        height: auto;
    }

    .section_elements_one {
        display: flex;
        flex-direction: column-reverse;
        width: 80%;
    }

    .section_elements_one img {
        width: 80%;
        height: auto;
        margin: 2%;
    }

    .section_elements_two {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .section_elements_two img {
        width: 80%;
        height: auto;
        margin: 0 auto;
    }

    .list_service img {
        width: 120px;
        height: 120px;
    }

    .block_list p {
        width: 80%;
        font-size: 0.8em;
        margin: 0 auto;   }
    .block_list ul {
        width: 80%

    }

  

    #btn_modal_window {
        position: relative;
        width: 60%;
        margin-left: 15%;
    }


}
